@CHARSET "UTF-8";

.bookmark-widget{
	padding-bottom:7px;
	
}

.tab-content{
	padding-top: 25px;
}

.tag-allCategories{
	font-weight: bold;
	padding-bottom:5px;
}





body { font: 12px Arial;}

path {
	stroke: steelblue;
	stroke-width: 1;
	fill: none;
}

.axis path,
.axis line {
	fill: none;
	stroke: grey;
	stroke-width: 1;
	shape-rendering: crispEdges;
}


.label {
	position:absolute;
}

circle {
	cursor: pointer;
	fill: steelblue;
}