#mainForm
{
    background-color: #e8efef;
    padding: 10pt;
    border-radius: 8pt;
}
#mainLabel
{
    font-size: 20pt;
}
#mainSubmit
{
    margin-top: 15px;
}
#checkDB
{
	margin-top: 15px;
}
#underline
{
    height: 5px;
    width: 40%;
    background-color: #007bff;
}
#underlineFilter
{
    height: 1px;
    width: 100%;
    background-color: #ffffff;
    margin-bottom: 20px;
}
.pagination-width
{
    width: 300px;
}
.div-error
{
    width: 200px;
    background: #007bff;
}
.no-margin
{
    margin: 0px;
}
.full-width
{
    width: 100%;
}


<!-- Graph styles -->

#averageBuySellPricesGraphDiv
{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    width: 100%;
    height: 360px;
    position: relative;
}

svg {
    width: 100%;
    height: 100%;
}

path.slice{
    stroke-width:2px;
}

polyline{
    opacity: .3;
    stroke: black;
    stroke-width: 2px;
    fill: none;
}



.bar-positive {
    fill: #20c3ff;
}

.bar-negative {
    fill: #86cece;
}

.axis text {
    font: 5px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}







